body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: antiquewhite;
}

.container{
    width: 40em;
    height: auto;
    padding: 1em;
    border: 2px black solid;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

input{
    text-align: left;
    font-size: 1.5em;
    margin: 2px 2px 2px 2px;
    align-self: flex-start;
}

.title{
    width: 20em;
    height: 1em;
}

.reminder{
    width: 10em;
    height: 1em;
}

.btn{
    font-size: 1.5em;
    border-radius: 50%;
    width: auto;
    height: auto;
}

.btn:hover{
    background-color: greenyellow;
    color: white;
}

.submit-btn{
    align-self: flex-end;
}

.submit-btn:hover{
    background-color: greenyellow;
    color: white;
}

.check-box{
    position: relative;
    bottom: 50%;
    font-size: 1em;
    margin: 0 2rem 0 2rem;
    border-right: 2px solid black;
}

.ToDos-list{
    width: 42rem;
    height: auto;
    border: 2px solid black;
    padding-inline-start: 0px;
}

.ToDos-list:empty{
    border: none;
}

li{
    list-style-type: none;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li:nth-last-child(1){
    border-bottom: none;
}

.info{
    font-size: 1.2em;
    border-left: solid;
    padding-left: 5px;
}

