body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.container{
    width: 40em;
    height: auto;
    padding: 2em;
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

input{
    text-align: center;
    font-size: 20px;
    margin: 2px 2px 2px 2px;
    align-self: flex-start;
}

.title{
    width: 20em;
    height: 1em;
}

.reminder{
    width: 10em;
    height: 1em;
}

button{
    font-size: 20px;
    border-radius: 50%;
    width: auto;
    height: auto;
}

.submit-btn{
    align-self: end;
}

.check-box{
    align-self: flex-end;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
}

.todo{
    width: 40em;
    height: auto;
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

li{
    text-align: left;
    padding: 2em;
    border-color: black;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    padding :0;
    align-items: center;
}

.info{
    border-left: solid;
    padding-left: 5px;
}

